fastapi
uvicorn[standard]
python-multipart
python-dotenv
langchain==0.2.6
langchain-core==0.2.11
langchain-community==0.2.6
langchain-groq==0.1.6
faiss-cpu
pymupdf
python-docx
aiofiles
pydantic
numpy
pypdf
supabase==2.15.0
google-genai==1.16.0
scikit-learn